.rating {
  color: var(--colors-text-stable-w);
  font-weight: var(--font-w-bold);
  margin: 0;
  padding: 3px 10px;
  border-radius: 10px;

  position: absolute;
  top: 5px;
  left: 5px;
}

@media (max-width: 768px) {
  .rating {
    font-size: 14px;
    padding: 3px 7px;
  }
}
