@mixin headerBtn() {
  color: var(--colors-text-s);
  font-weight: var(--font-w-bold);
  padding: 10px 0;
  border-bottom: 3px solid #11111100;
  text-decoration: none;
  transition: border-bottom 0.3s ease;
}

.header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;

  h3 {
    margin: 10px 0;
    font-weight: var(--font-w-bold);
  }

  &-btns {
    display: flex;
    gap: 20px;

    &--btn {
      @include headerBtn();

      &:hover,
      &-active {
        @include headerBtn();
        border-bottom: 3px solid var(--colors-orange);
        color: var(--colors-text);
      }
    }
  }

  .theme-switcher-con {
    cursor: pointer;
  }
}
